<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>954677785029-h9lviqm2352rdkuuahlcpjlunjpuf3be.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.954677785029-h9lviqm2352rdkuuahlcpjlunjpuf3be</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>954677785029-hbn6je8ikoepiodg5nj7cbqn3njff196.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyATrCkfsBjg7DcWGLq4olG2jNoWS-KA7lc</string>
	<key>GCM_SENDER_ID</key>
	<string>954677785029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.elgindy.ecommerceApp</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-e8846</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-e8846.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:954677785029:ios:be7f27a9c09ee5985e5bac</string>
</dict>
</plist>